@import "./index.css";
/*  --background Color: #121212;
    --secondaryColor: #0b216d;
    --tertiaryColor: #ffffff1a;
    --primaryFontColor: #ffffff;
    --secondaryFontColor: #ffeb3b;
    --tertiaryFontColor: #ef4992; */

.grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid > div {
    padding: 90px 60px;
}

#grid_1 {
    grid-column: span 4 / span 4;
}

#grid_2 {
    grid-column: span 2 / span 2;
}

.greeting {
    font-size: 20px;
}

.name {
    font-size: 50px;
}

.title {
    margin: 10px 0;
    font-size: 25px;
    font-weight: 600;
}

.p {
    margin: 5px 0;
}

ion-icon {
    transition: all 0.3s ease-in;
    color: #000;
}
ion-icon:hover {
    color: var(--secondaryColor);
    scale: 1.15;
}

.image_profile {
    margin-top: 1rem;
    width: 13rem;
    height: 16rem;
    border: 2px solid black;
    border-radius: 0 0 0 50%;
    overflow: hidden;
    box-shadow: 8px -8px 0px -2px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 8px -8px 0px -2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px -8px 0px -2px rgba(0, 0, 0, 1);
}

.image_profile > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.steps {
    position: relative;
    margin: 32px 20px;
}
.steps::after {
    content: "";
    position: absolute;
    width: 1px;
    background-color: var(--primaryColor);
    opacity: 0.4;
    top: 0;
    bottom: 0;
    left: 50%;
}

.steps .text_content p {
    font-size: 16px;
    opacity: 80%;
}

.steps .text_content h2 {
    font-weight: 600;
    font-size: 16px;
    opacity: 80%;
}

.steps-container {
    position: relative;
    width: calc(50% + 32px);
}

.steps-container .text_content {
    padding: 32px;
    position: relative;
    border-radius: 0px 0px 80px 0px;
    box-shadow: 0px 16px 27px rgb(0 11 30 / 10%);
}

.steps .steps-container:nth-child(even) {
    left: calc(50% - 32px);
    flex-direction: row-reverse;
}

.steps-container {
    display: flex;
}

.steps .steps-container .date {
    font-weight: 900;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
    background-color: var(--primaryColor);
    border-radius: 50%;
    flex-shrink: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 777;
}

.step-line {
    width: 40px;
    background-color: var(--primaryColor);
    height: 1px;
    margin-top: 31px;
    opacity: 0.4;
    flex-shrink: 0;
}

@media (max-width: 767px) {
    .steps::after {
        left: 32px;
    }
    .steps-container {
        left: 0;
        flex-direction: row-reverse;
        width: auto;
        margin-bottom: 16px;
    }
    .steps .steps-container:nth-child(even) {
        left: 0;
    }
}
