:root {
    --primaryColor: #121212;
    --secondaryColor: #0b216d;
    --tertiaryColor: #ffffff1a;
    --primaryFontColor: #ffffff;
    --secondaryFontColor: #ffeb3b;
    --tertiaryFontColor: #ef4992;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
    background-color: #ffffff;
    color: #000000;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

#header {
    position: sticky;
    top: 0;
    left: 0;
}

#icon {
    cursor: pointer;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

#nav > .navItems {
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav a,
#nav li {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

#nav a::after {
    content: "";
    bottom: -3px;
    left: 0;
    position: absolute;
    width: 0px;
    height: 3px;
    background-color: var(--tertiaryFontColor);
    transition: all 0.3s ease-in-out;
}

#nav a:hover::after {
    width: 100%;
}

#nav a:hover,
#nav a.active {
    color: var(--tertiaryFontColor);
    transition: all 0.3s ease-in-out;
}

#nav a.active::after {
    content: "";
    bottom: -3px;
    left: 0;
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: var(--tertiaryFontColor);
    transition: all 0.3s ease-in-out;
}
