@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
:root {
    --primaryColor: #121212;
    --secondaryColor: #0b216d;
    --tertiaryColor: #ffffff1a;
    --primaryFontColor: #ffffff;
    --secondaryFontColor: #faa327;
    --tertiaryFontColor: #ef4992;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
    color: #000000;
    box-sizing: border-box;
}

body {
    background-color: #f9fafb;
}

.container,
main {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
@media (min-width: 640px) {
    .container,
    main {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container,
    main {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container,
    main {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container,
    main {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .container,
    main {
        max-width: 1536px;
    }
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

#icon {
    cursor: pointer;
    /* height: 60px;
    max-height: 60px; */
    position: absolute;
}

#icon img{
    height: 60px;
    width: 60px;
    object-fit: cover;
}

#nav {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: transparent;
}

#nav .navList {
    display: flex;
    align-items: center;
    gap: 28px;
    background-color: transparent;
}

#nav a,
#nav li {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.navItem {
    background-color: white;
}

.navItem::after {
    content: "";
    bottom: -3px;
    left: 0;
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: var(--secondaryColor);
    transition: all 0.3s ease-in-out;
}

.navItem:hover::after {
    width: 100%;
}

.navItem:hover,
.navItem.active {
    transition: all 0.3s ease-in-out;
}

.navList > li > a.active::after {
    content: "";
    bottom: -3px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--secondaryColor);
    transition: all 0.3s ease-in-out;
}

.navDropdown > a {
    position: relative;
}

.navDropdown .listDropdown {
    position: absolute;
    left: -1.7rem;
    width: 192px;
    padding-top: 1.2rem;
    padding-bottom: 5px;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
}

.listDropdown > li,
.listDropdown a {
    padding: 0 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;
}

.navDropdown:hover .listDropdown {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.listDropdown a {
    transition: all 0.3s ease-in-out;
    width: 190px;
    box-shadow: inset 0 0 0 0 var(--secondaryColor);
}

.listDropdown a:hover {
    box-shadow: inset 190px 0 0 0 var(--secondaryColor);
    color: var(--primaryFontColor);
}

.listDropdown > li > a.active {
    color: var(--primaryFontColor);
    background-color: var(--secondaryColor);
}

.content {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 100%;
}

.swiper-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

.hero_img {
    height: calc(100vh - 60px);
    position: relative;
}

.hero_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_img h1 {
    font-size: 2rem;
    text-transform: capitalize;
    white-space: nowrap;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primaryFontColor);
}

.hero_img p {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primaryFontColor);
}

.txt_h1 {
    text-align: center;
    margin: 50px 0 10px;
    text-transform: capitalize;
    font-size: 2rem;
}

.txt_p {
    text-align: center;
    opacity: 70%;
}

.box_pp {
    margin: 20px 120px;
    padding: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    column-gap: 8px;
    height: 300px;
    border-radius: 5px;
}

.box_child1 {
    grid-column: span 3 / span 3;
    display: flex;
    align-items: center;
    padding-right: 90px;
}

.box_child2,
.box_child3 {
    min-height: fit-content;
    grid-column: span 1 / span 1;
    overflow: hidden;
}

.box_child2 > img,
.box_child3 > img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 5px;
    scale: 1;
    transition: all 0.3s ease;
}

.box_child2 img {
    margin-top: 15%;
}

.box_child2 > img:hover,
.box_child3 > img:hover {
    transition: all 0.3s ease;
    scale: 1.1;
}

.box_list {
    background-color: #fff;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 20px 120px;
    padding: 5px;
    display: flex;
    gap: 5px;
    border-radius: 5px;
}

.list_img {
    height: 100%;
    width: 140px;
    border-radius: 5px;
}

.list_img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
