@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
:root {
    --primaryColor: #121212;
    --secondaryColor: #0b216d;
    --tertiaryColor: #ffffff1a;
    --primaryFontColor: #ffffff;
    --secondaryFontColor: #ffeb3b;
    --tertiaryFontColor: #ef4992;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
    background-color: #f9fafb;
    color: #000000;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

#icon {
    cursor: pointer;
}

#nav {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

#nav .navList {
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav a,
#nav li {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.navItem::after {
    content: "";
    bottom: -3px;
    left: 0;
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: var(--secondaryColor);
    transition: all 0.3s ease-in-out;
}

.navItem:hover::after {
    width: 100%;
}

.navItem:hover,
.navItem.active {
    transition: all 0.3s ease-in-out;
}

.active::after {
    content: "";
    bottom: -3px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--secondaryColor);
    transition: all 0.3s ease-in-out;
}

.navDropdown > a {
    position: relative;
}

.navDropdown .listDropdown {
    position: absolute;
    left: -1.7rem;
    width: 192px;
    padding-top: 1.2rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3 ease-in-out;
    background-color: var(--tertiaryColor);
}

.listDropdown > li,
.listDropdown a {
    padding: 0 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navDropdown:hover .listDropdown {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.listDropdown a {
    transition: all 0.3s ease-in-out;
    width: 190px;
    box-shadow: inset 0 0 0 0 var(--secondaryColor);
}

.listDropdown a:hover {
    box-shadow: inset 190px 0 0 0 var(--secondaryColor);
    color: var(--primaryFontColor);
}

.listDropdown .active {
    background-color: var(--secondaryColor);
    color: var(--primaryFontColor);
}
