@import "./index.css";
/*  --background Color: #121212;
    --secondaryColor: #0b216d;
    --tertiaryColor: #ffffff1a;
    --primaryFontColor: #ffffff;
    --secondaryFontColor: #ffeb3b;
    --tertiaryFontColor: #ef4992; */


.box_content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 20px;
}

.text > p {
    width: 500px;
}