
.profile{
    margin-top: 50px;
    border-radius: 10px;
    margin-left:auto;
    margin-right: auto;
    width: 250px;
    height: 330px;
    display: block;
    border: solid rgb(220, 224, 227) 5px;
    
}



.content{
    
    display: block;
    width: auto;
    text-align: center;
}

span{
    color: rgb(182, 47, 29);
}
