@import "./index.css";
/*  --background Color: #121212;
    --secondaryColor: #0b216d;
    --tertiaryColor: #ffffff1a;
    --primaryFontColor: #ffffff;
    --secondaryFontColor: #ffeb3b;
    --tertiaryFontColor: #ef4992; */

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #424141;
}
.about img {
    height: auto;
    width: 430px;
}
.about-text {
    width: 550px;
}
.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}
button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
