@import "./index.css";
/*  --background Color: #121212;
    --secondaryColor: #0b216d;
    --tertiaryColor: #ffffff1a;
    --primaryFontColor: #ffffff;
    --secondaryFontColor: #ffeb3b;
    --tertiaryFontColor: #ef4992; */

h1 {
    color: var(--secondaryFontColor);
}
.wall{
    width: 100%;
    height: 100vh;
    
}
.pic1{
    margin-top: 70px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    display: block;
    

}
.p1,b{
    text-align: center;
}
.p2{
    text-align: center;
}

.icon_box{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}