@import "./index.css";
/*  --background Color: #121212;
    --secondaryColor: #0b216d;
    --tertiaryColor: #ffffff1a;
    --primaryFontColor: #ffffff;
    --secondaryFontColor: #ffeb3b;
    --tertiaryFontColor: #ef4992; */

.wall{
    width: 100%;
    height: 100vh;
    
}

.pic1{
    border-radius: 50%;
    margin: 70px auto 20px;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.pic1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content_center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.p2{
    text-align: center;
}

.icon_box{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon_box a, .icon_box p {
    display: flex;
    align-items: center;
    gap: 5px;
}

